body{
    margin:0;
    background-color: black;
    color:white;
}
// Nav-Header

.nav{
    width:100%;
    display:flex;
    color:black;
    background-color:white;
    justify-content: space-between;
    position: fixed;
    margin-top:-10px;

}
.heading{
    font-size: larger;
    font-weight: bolder;
}
.nav-wrap{
    
   justify-content: space-around;
   flex-direction: row;

}
.nav-list{
    display:flex;
    list-style-type: none;
    justify-content: space-around;
}
.nav-item{
    display:inline;
    padding:0 12px 0 12px;

}
.nav-item:hover{
    background-color: black;
    color:white;
  
}

.jumbotron{
    padding-top: 40px;
    width:100%;
    height:400px;
    background-color: rgba(95, 158, 160, 0.611);
    text-align: center;
    
}
 .sub-heading{
     padding-top: 50px;
     margin:auto;
 }
.about-container{
    background-color: white;
    
}
.about-btns{
    margin-left:45%;
    margin-right: auto;
    width: 40%;
}
.about-wrapper{
    display: flex;
    margin:auto;
    height: 500px;
    
}
.section1,.section2,.section3{
    color:black;
    display:flex;
    margin:auto;
    height:100%;
   p{
       padding: 5px;
       width:50%;
       line-height: 2;
       text-align: center;
   }
    
}
.sectionInactive{
    display:none;
}
.about-image{
    background-position: center;
   width:50%;
    background-image: url(../assets/Place-Holder.jpg.jpg);
}
